
*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image : url('../img/header/crespita.jpg');
	background-repeat: no-repeat;
	background-size:80% 100%;
	background-attachment: fixed;
	background-position: 50%;
	transition-duration: 3s,5s,2s,1s;

}
#contenedor{
	width: 80%;
	height: 20000px;
	background-color:white;
	margin: 450px auto;
}