
*{
	padding: 0px;
	margin: 0px;
}
header#home {
	background-image : url('../img/header/crespita.jpg');
	background-size:80% 80%; 	
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition-duration: 3s,5s,2s,1s;

}

@media only screen (min-width-device: 320px) and (max-width-device: 480px) {
	body {	
		background-size:80% 50%; 	
		background-position: 50% -10%;
	}
}
#contenedor{
	height: 100%;
	width: 82%;
	background-color:white;
	margin: 220px auto;
}
#enlaces{
	background-color: transparent;
	height: 600px;
	width:80%;
}

#enlaces div.col-xs-6 a {margin-top: 60%;}

/*LORE*/


.tabs {
	position: relative;
	width: 90%;
	overflow: hidden;
	margin-left: 2% ;
	font-weight: 300;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	border: 1px solid #E51960;
	box-shadow: inset 0 2px #E51960;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 80%;
	background: #c3c3c3 !important;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #E51960;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: #E51960;
}

.tabs nav li.tab-current a {
	color: #E51960;
}

/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

/* Content */
.content section {
	font-size: 1.25em;
	padding: 3em 1em;
	display: none;
	max-width: 1230px;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #E51960;
}

.content section.content-current {
	display: block;
}

.mediabox {
	float: left;
	width: 33%;
	padding: 0 25px;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
	.tabs nav a span {
		display: none;
	}

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: none;
		width: auto;
		padding: 0 0 35px 0;
		font-size: 90%;
	}

	.mediabox img {
		float: left;
		margin: 0 25px 10px 0;
		max-width: 40%;
	}

	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
}

@media screen and (max-width: 100%) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.tabs nav ul li {
		width: 20%;
		width: calc(20% + 1px);
		margin: 0 0 0 -1px;
	}

	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
		text-align: center;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
	}

	.mediabox p {
		margin: 0;
	}
}

/*nav*/

nav.sticky {
	background: white;
	margin-bottom:10px;
}
 
nav.sticky ul {
	overflow: hidden;
}
 
nav.sticky ul li {
	float: left;
}
 
nav.sticky ul li a {
	display: block;
	padding:10px;
	color:black;
	text-decoration: none;
}
 
nav.sticky ul li a:hover {
	background:#c3c3c3;
}

.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

.sub-categorias ul {width: 100% !important; padding: 0px;}
.sub-categorias ul li {width: 16%; font-size: 12px;}

.nopadding {padding: 0px !important;}
.content div.col-md-6, #section-3 div.col-lg-6 {
	width: 100%;
	display: inline;
	margin-bottom: 1%;
} 


footer {background-color: white;}

/*Scrolling*/

li {list-style: none;}


